/*
    GENERAL
*/

html {
  height: 100%;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/*
    NAV BAR
*/

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .header-logo {
  margin-left: -100px;
  position: relative;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .span4 .btn:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.bg-steel {
  background-color: #2F88C4;
}

.container {
  height: 100%;
  min-height: 100%;
}

/*
    GENERAL PAGE SPECIFICATIONS
*/

.main-header {
  position: relative;
  text-align: left;
  margin-left: 100px;
  padding-bottom: 120px;
}

.main-header a:hover {
  color: #cbd5db;
}

.main-header .btn {
  color: #444444;
  text-decoration: none;
}

.main-header .btn:hover {
  color: #cbd5db;
}

.main-header .btn-border {
  color: #444444;
  text-decoration: none;
  border: 1px solid #444444;
}

.main-header .btn-border:hover {
  color: #cbd5db;
  border: 1px solid #cbd5db;
}

.main-header .dict-btn {
  color: #444444;
  text-decoration: none;
}

.main-header .dict-btn:hover {
  color: #cbd5db
}

#wrapper {
  min-height: 100%;
  position: relative;
}

/*
    FOOTER
*/

.footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  height: 200px;
}

.footer .bottom-logo {
  margin-left: 35%;
}

/*
    MISC.
*/

th {
  height: 30px;
}

td {
  height: 10px;
}

th, td {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
  border-spacing: 50px;
  width: 20%;
}

#data tr {
  display: none;
}

tr.r0 td {
  background-color: #f7cc6f;
  padding-left: 5em;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
