version: "3.3"

services:

  src:
    build: ./src
    container_name: src
    restart: always
    expose:
      - 8080
    depends_on:
      - redis

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"

  worker:
    image: src
    command: python manage.py runworker
    depends_on:
      - redis

  redis:
    image: redis:6-alpine 
