{% extends "layout.html" %}
{% block content %}
    <div class="main-header">
        <h1>Fremont DPN</h1>
        <br>
        {% for message in form.file.errors %}
        <div style="color:rgb(255,0,0)"><strong>{{ message }}</strong></div>
        {% endfor %}
	    {% if error_msg %}
	    <div style="color:rgb(255,0,0)"><strong>{{ error_msg }}</strong></div>
	    {% endif %}
        <br>

        <form method=POST enctype="multipart/form-data" action="{{ url_for('dpn_views.dpn') }}">
            <fieldset>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.file.label }} {{ form.file }}
                    <br>
		            <br>
		            {{ form.upload }}
		            <br>
		            <br>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
