{% extends "layout.html" %}
{% block content %}
    	<div class="main-header" id="isl-content">
            <h1>ISL Automation</h1>
            <br>
            <form method=POST action="{{ url_for('isl_rpa_views.isl_rpa') }}">
            	<div>
		    <label for="from-date">From Date:     </label>
		    <input type="date" id="from-date" name="from-date">
		    <br>
                    <br>
		    <label for="to-date">Through Date:  </label>
                    <input type="date" id="to-date" name="to-date">
		    <p> (leave blank if only running for single date)</p>
		    <br>
		    <input type="submit" value="Submit">
            	</div>
            </form>
	    <br>
	    <a class="btn" href="{{ url_for('isl_rpa_views.isl_jobs') }}">Job Queue</a>
    	</div>
{% endblock content %}
