{% extends "layout.html" %}
{% block content %}
    <div class="main-header" id="isl-content">
	<h1>ISL Jobs</h1>
        <br>
	<a class="btn" href="{{ url_for('isl_rpa_views.isl_jobs') }}">Refresh</a>
	{% if jobs %}
	    <table>
            	<colgroup>
		    <col span="1" style="width: 55%">
		    <col span="1" style="width: 15%">
		    <col span="1" style="width: 15%">
		    <col span="1" style="width: 15%">
  	        </colgroup>
	        <tbody>
		    <tr>
			<th>ID</th>
			<th>Date</th>
			<th>Status</th>
			<th>Result</th>
		    </tr>
	            {% for job_id, data in jobs.items() %}	
		    <tr>
		        <td>{{ job_id }}</td>
		    	<td>{{ data['from_date'] }}</td>
			<td>{{ data['status'] }}</td>
			{% if data['result'] == 'failed' %}
			    <td>{{ data['result'] }};&nbsp;
			    <a class="btn" href="{{ '/isl-rpa/retry-job-%(job_id)s' %
				           {'job_id': job_id} }}">retry?</a></td>
			{% else %}    
			    <td>{{ data['result'] }}</td>
			{% endif %}
		    </tr>
		    {% endfor %}
		</tbody>
		<br>
	    </table>
	<br>
	{% else %}
	    <p>No tasks in the queue.</p>
            <br>
	{% endif %}
	<a class="btn" href="{{ url_for('isl_rpa_views.isl_rpa') }}">Generate Another</a>
    </div>
    <script language="JavaScript">
	    const jobs = {{jobs|tojson}};
	    function statusListener() {
                setInterval(getStatus, 5000);
            }
            function getStatus() {
		//var reader = new FileReader();
		//var jobs_txt = reader.readAsText('json/jobs.json');
		//jobs = JSON.parse(jobs);
		var i = 0;
		for (var job_id in jobs) {
		    if (jobs[job_id]['status'] == 'started') {
                    	document.getElementById('queued-'+i.toString()).style.display = "none";
			document.getElementById('started-'+i.toString()).style.display = "inline";
			document.getElementById('finished-'+i.toString()).style.display = "none";
		    }
		    else if (jobs[job_id]['status'] == 'finished') {
                        document.getElementById('queued-'+i.toString()).style.display = "none";
                        document.getElementById('started-'+i.toString()).style.display = "none";
                        document.getElementById('finished-'+i.toString()).style.display = "inline";
                    }
		    i++;
		}
            }
	    //window.onload = statusListener;
    </script>
{% endblock content %}
